.naglowek {
    color:lime;
    background-color: darkred; 
}
.jakiescos{
    color:aquamarine;
    background-color: fuchsia;
}
.KursYouCode{
    color:pink;
    background-color: ora;
}
.VSC{
    color: red;
    background-color: black;
}
.dede {
    border: dotted 2px cadetblue;
}